
body {
    background-size: cover;
    background-position: center;
}


.companylogo img {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    width: 430px;
    height: 125px;
}

.companylogo h1 {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    text-decoration: none;
}

    ul li a {
        line-height: 80px;
        color: rgb(0, 0, 0);
        padding: 12px 30px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }

        ul li a:hover {
            background: rgba(0,0,0,0.5);
            border-radius: 6px;
            color: #fff;
        }

h2 {
    padding-bottom: 30px;
}

.form-group {
    padding-top: 10px;
}

.container {
    padding-top: 40px;
}

.register-box {
    width:1500px;
    padding-left:400px;
    padding-top:100px;
}

.register-left {
    background-color: rgba(211,211,211,0.5);
    padding: 20px;
}

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #ff00ac;
    }


    select{
        width:537px;
    }