
body {
    background-size: cover;
    background-position: center;
}


.companylogo img {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    width: 430px;
    height: 125px;
}

.companylogo h1 {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    text-decoration: none;
}

    ul li a {
        line-height: 80px;
        color: rgb(0, 0, 0);
        padding: 12px 30px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }

        ul li a:hover {
            background: rgba(0,0,0,0.5);
            border-radius: 6px;
            color: #fff;
        }

h2 {
    padding-bottom: 10px;
}

.form-group {
    padding-top: 10px;
}

.container {
    padding-top: 40px;
}

.register-box {
    width:1500px;
    padding-left:400px;
    padding-top:100px;
}

.register-left {
    background-color: rgba(211,211,211,0.5);
    padding: 20px;
}

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #ff00ac;
    }


.btn2 {
    width: 538px;
    height: 42px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    border: 1px solid #636161;
    position: relative;
    z-index: 1;
}

    .btn2:hover {
        color: #fff;
        cursor: pointer;
    }

    .btn2:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: #83f372;
    }

    .btn2:hover:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }


.msg {
    background-color: rgba(211,211,211,0);
    color: #185cb5;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

select {
    width: 538px;
    height: 38px;
    border-radius: 4px;
    border-color: #cecece;
}