
body {
    background: linear-gradient(rgba(240, 186, 131, 0.6),rgba(240, 186, 131, 0.6)),url(img/background.jpg);
    background-size: cover;
    background-position: center;
}


.companylogo img{
    float:left;
    padding-left:10px;
    padding-top:10px;
    width:60px;
    height:60px;
}

.companylogo h1{
    font-family:  'Hoefler Text', Georgia, 'Arial', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-transform: uppercase;
    padding: 22px 20px;
    height:80px;
    float: left;
    font-weight:bold;
    
}
ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    text-decoration:none;
}

    ul li a {
        line-height: 80px;
        color: rgb(0, 0, 0);
        padding: 12px 30px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul li a:hover {
        background: rgba(0,0,0,0.5);
        border-radius: 6px;
        color: #fff;
    }

h2  {

    padding-bottom:30px;
}

.form-group{
    padding-top:10px;
}

.container {
    padding-top: 50px;
}

.register-box{
    max-width:700px;
    float:left;
    margin:100px auto;
}

.register-left{
    background-color:LightBlue;
    padding:50px;
}

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #fff;
    }
