body {
    background-size: cover;
    background-position: center;
}

.homepic img {
    padding-left: 500px;
    padding-top: 0px;
    width: 1450px;
    height: 465px;
}

.companylogo img {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    width: 430px;
    height: 125px;
}

.companylogo h1 {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    text-decoration: none;
}

    ul li a {
        line-height: 80px;
        color: rgb(0, 0, 0);
        padding: 12px 30px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }

        ul li a:hover {
            background: rgba(0,0,0,0.5);
            border-radius: 6px;
            color: #fff;
        }

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #ff00ac;
    }

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 130px;
    font-size: 30px;
    color: #185cb5;
}

.blink {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


span {
    font-size: 4em;
    letter-spacing: 8px;
    font-family: Arial clack;
    text-transform: uppercase;
    animation: blink 3s linear;
    color: #000000;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.table-scroll {
    display: block;
    empty-cells: show;
    border-spacing: 0;
    background-color: #fff;
}

    .table-scroll thead {
        background-color: #fff;
        position: relative;
        display: block;
    }

    .table-scroll tbody {
        display: block;
        position: relative;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .table-scroll tr {
        display: flex;
    }

    .table-scroll th {
        font-weight: 600;
        font-size: 16px;
        background-color: #48c1f6;
        color: #fff;
        font-family: sans-serif;
        padding: 10px 0 10px 0;
        text-align: left;
    }

    .table-scroll td {
        font-size: 15px;
        font-family: sans-serif;
    }

    .table-scroll td, .table-scroll th {
        flex-basis: 100%;
        flex-grow: 2;
        display: block;
        text-align: left;
    }

    .table-scroll.small-first-col td:first-child,
    .table-scroll.small-first-col th:first-child {
        flex-basis: 20%;
        flex-grow: 1;
    }

.body-half-screen {
    max-height: 700px;
}

.small-col {
    flex-basis: 20%;
}

tr:nth-child(odd) {
    background-color: #f3f1f1;
}

.table-scroll tr:hover {
    background-color: #636161;
    color: #fff;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #185cb5;
}

h4 {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    padding-top: 5px;
}



p {
    padding-left: 16px;
    animation: blink 1s linear;
}

.messagebox {
    margin: auto;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
}
