
body {
    background: linear-gradient(rgba(240, 186, 131, 0.6),rgba(240, 186, 131, 0.6)),url(img/background.jpg);
    background-size: cover;
    background-position: center;
}



.companylogo img{
    float:left;
    padding-left:10px;
    padding-top:10px;
    width:60px;
    height:60px;
}

.companylogo h1{
    font-family:  'Hoefler Text', Georgia, 'Arial', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-transform: uppercase;
    padding: 22px 20px;
    height:80px;
    float: left;
    font-weight:bold;
    
}

.container {
    padding-top: 50px;
}

.login-box{
    max-width:700px;
    float:none;
    margin:150px auto;
}

.login-center{
    background-color:LightBlue;
    padding:30px;
}

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #fff;
    }
