h1 { 
font-family:  'Hoefler Text', Georgia, 'Arial', serif;
font-weight: normal;
font-size: 1.75em;
letter-spacing: .2em;
line-height: 1.1em;
margin:0px;
text-align: left;
text-transform: uppercase;
}