
body {
    background-size: cover;
    background-position: center;
}


.companylogo img {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    width: 430px;
    height: 125px;
}

.companylogo h1{
    padding: 22px 20px;
    height:80px;
    float: left;
    font-size:24px;
    font-weight:bold;
    text-transform:uppercase;
    color: #fff;
}
ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    text-decoration:none;
}

    ul li a {
        line-height: 80px;
        color: rgb(0, 0, 0);
        padding: 12px 30px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul li a:hover {
        background: rgba(0,0,0,0.5);
        border-radius: 6px;
        color: #fff;
    }

.logout {
    float: right;
    padding: 10px 10px;
    font-size: 10px;
    color: #000000;
}

    .logout:hover {
        color: #ff00ac;
    }


.search-box{
    max-width:1000px;
    float:none;
    margin: 70px auto;
}


.update-left{
    background:rgba(211,211,211,0.5);
    padding:20px;

}

.update-right{
    background:#fff;
    padding:20px;
}

.btn4{
    width:488px;
    height:42px;
    border:none;
    color:rgb(0, 0, 0);
    font-weight:bold;
    border-radius:4px;
    transition: ease-out 0.3s;
    outline:none;
    border: 1px solid #636161;
    position:relative;
    z-index:1;
}

.btn4:hover{
    color:#fff;
    cursor:pointer;

}

.btn4:before{
    transition:0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right:50%;
    bottom:0%;
    opacity:0;
    content:"";
    background-color:#388afb;
}

.btn4:hover:before{
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
    z-index:-1;
}







.btn2 {
    width: 488px;
    height: 42px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    border: 1px solid #636161;
    position: relative;
    z-index: 1;
}

    .btn2:hover {
        color: #fff;
        cursor: pointer;
    }

    .btn2:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: #83f372;
    }

    .btn2:hover:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }





.btn3 {
    width: 488px;
    height: 42px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    border: 1px solid #636161;
    position: relative;
    z-index: 1;
}

    .btn3:hover {
        color: #fff;
        cursor: pointer;
    }

    .btn3:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: #f65454;
    }

    .btn3:hover:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }



h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 130px;
    font-size: 30px;
    color: #185cb5;
}


.messagebox{
    margin: 10px auto;
}

.daycounter {
    font-size: 30px;
    text-align:center;
    padding-top:200px;
    animation: blink 2s ;
    overflow:hidden;
    white-space:nowrap;
    color: #979494;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 0.5; }
    100% {opacity: 1;}
}


@keyframes type {
    0% {width: 0ch;}
    100% {width: 22ch;}
}

.slider-wrapper{
    font-size:20px;
    color:rgb(0, 0, 0);
    font-weight:bold;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.slider{
    height:50px;
    padding-left:0px;
    overflow:hidden;
}


.slider div{
    color:rgb(0, 0, 0);
    height:50px;
    margin-bottom:50px;
    padding:2px 15px;
    box-sizing:border-box;
}

.slider-text1 {
    background: #b4f1f5;
    animation: slide 15s linear infinite;
}
.slider-text2 {
    background: #7ab7f8;
}
.slider-text3 {
    background: #b4f1f5;
}


@keyframes slide{
    0%{margin-top:-300px;}
    5%{margin-top:-200px;}
    33%{margin-top:-200px;}
    38%{margin-top:-100px;}
    66%{margin-top:-100px;}
    71%{margin-top:0px;}
    100%{margin-top:0px;}
}


