*{
padding: 0px;
margin: 0px;
}

//.body{
background-color: rgba(211,211,211,0.5);
}

//.container{
width: 960px;
margin: 0 auto;
background-color: #fff;
height: 400px;
}

//.companylogo img{
  float:left;
  padding-left:10px;
  padding-top:10px;
  width:60px;
  height:60px;
}

//.companylogo h1{
  padding: 22px 20px;
  height:80px;
  float: left;
  font-size:24px;
  font-weight:bold;
  text-transform:uppercase;
  color: #;
}

//.logout {
  float: right;
  padding: 10px 10px;
  font-size:10px;
  color:#000000;
}

//.logout:hover{
  color:#fff;
}

//ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
  text-decoration:none;
}

  //ul li a {
      line-height: 80px;
      color: rgb(0, 0, 0);
      padding: 12px 30px;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
  }

  //ul li a:hover {
      background: rgba(0,0,0,0.5);
      border-radius: 6px;
      color: #fff;
  }

//.submit {
  margin: 100px;
  width: 160px;
  position: relative;
  right: 403px;
  bottom: 50px;
  font-size: 15px;
  font-family: san;
}

//.courses {
  margin: 120px;
  width: 160px;
  position: relative;
  right: 73px;
  bottom: 50px;
}

//.level {
  margin: 100px;
  width: 160px;
  position: relative;
  right: 249px;
  bottom: 50px;
}

//.table {

}
